*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.bkp
*.dtmp
*_g
\#*
.\#*
/.config
/.idea/*
/.version
/_book/
/node_modules/
